
html{
    background-image:url(desert.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}



#tx{
    font-size: 200px;
    font-family: Impact;
    color: rgb(2, 58, 2);
    font-size: bolder;
    text-align: center;
}
#tx1{
    font-size: 80px;
    font-family: Impact;
    color: rgb(2, 58, 2);
    font-size: bolder;
    text-align: center;
}

