
html{
    background-image: image("C:\\Users\\Utilisateur\\Desktop\\first\\img\\AdobeStock_210639467_Preview.jpeg");
}



#tx{
    font-size: 800px;
    font-family: Impact;
    color: rgb(2, 58, 2);
    font-size: bolder;
    text-align: center;
}
#tx1{
    font-size: 80px;
    font-family: Impact;
    color: rgb(2, 58, 2);
    font-size: bolder;
    text-align: center;
}

#bt{
    font-size: 100px;
    color: rgb(2, 58, 2);
    width: 500px;
    height: 600px;
    margin: 100px;
}
#im{
    width: 500px;
    height: 600px;

}
